:root {
  --font-color: #aaa;
  --sq-color: rgba(0, 184, 255, 1);
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

header {
  padding: 10px 40px;
}

.menu_bar > a {
  position: relative;
}

.menu_bar img {
  width: 100px;
  height: 35px;
}

.socar_menu {
  position: absolute;
  top: 50%;
  right: 40px;
  width: 36px;
  height: 14px;
  cursor: pointer;
  z-index: 100;
  transform: translate(0%, -50%);
}

.socar_menu > span {
  display: block;
  width: 100%;
  height: 100%;
  color: #0bb8ff;
}

article {
  background-image: url(../img/main_visual_fullscreen.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 927px;
}

h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.socar_explanation_con {
  width: 800px;
  margin: 0 auto;
  padding: 0 32px;
}

.socar_explanation_li {
  padding-top: 64px;
}

.socar_explanation_title {
  display: flex;
  margin: 32px 0;
  align-items: flex-end;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

.socar_explanation_title > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: aqua;
}

.socar_explanation_li > p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--font-color);
  font-weight: bold;
}

.socar_explanation_li > img {
  margin: 64px 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  text-align: center;
  height: 444px;
  background-color: #f7f8f9;
  overflow: hidden;
}

h2 > span {
  color: #0bb8ff;
}

.skeu_sq {
  width: 100px;
  height: 100%;
  background-color: var(--sq-color);
}

footer {
  margin: 0 auto;
  background-color: #28323c;
  overflow: hidden;
}

.footer_con {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0 auto;
  width: 1000px;
  padding: 30px;
}

.mobile_icon {
  display: flex;
  gap: 10px;
}

.mobile_icon img {
  width: 30px;
  height: 30px;
}

.footer_ul {
  display: flex;
  justify-content: space-between;
}

.footer_li > a {
  font-size: 14px;
  color: #c5c8ce;
}

.li_important > a {
  color: white;
}

.socar_information_con {
  display: flex;
  justify-content: space-between;
}

.socar_information > p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--font-color);
}

.socar_app_download {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  position: fixed;
  z-index: 100;
}

.socar_app_download img {
  width: 70px;
  height: 70px;
}

.socar_app_download > a {
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: #0bb8ff;
}

.socar_app_download > a > p {
  color: white;
}
