:root {
  --main-color: rgb(64, 201, 64);
  --font-color: rgb(70, 69, 69);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #f6f8fa;
}

.band_logo {
  background: url("../img/spr_intro.png") no-repeat 0 -98px;
  width: 78px;
  height: 29px;
}

.login_ul {
  display: flex;
  gap: 24px;
}

.login_list {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.login_list > a {
  font-size: 14px;
  color: var(--font-color);
}

.login_ul > a > .login_list {
  background-color: var(--main-color);
  font-size: 14px;
  color: white;
}

.login_list:nth-child(3) {
  background-color: var(--main-color);
}

a {
  text-decoration: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-color: #f6f8fa;
}

.band_login_con {
  display: flex;
  width: 1000px;
  height: transparent;
  gap: 50px;
}

.mobile_form,
.mobile_form > img,
.band_login {
  width: 100%;
  height: transparent;
}

.band_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

.login_click,
.join_click {
  width: 350px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.login_click {
  background-color: var(--main-color);
  color: white;
}

.join_click {
  background-color: white;
  color: var(--font-color);
}

.band_login > p {
  font-size: 20px;

  /* 적용이 안됨 */
}

/* 뭔가 눈으로 봤을때 가운데 정렬이 안되고 왼쪽으로 살짝 치우친 느낌을 받음 */

.band_explanation {
  height: 540px;
  background-image: url(../img/bg_intro.jpg);
  /* background-position:; */
  /* background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 40px;
  color: white;
  padding-bottom: 32px;
}

.band_explanation > p {
  font-size: 16px;
}
