:root {
  --main-color: rgb(64, 201, 64);
  --font-color: rgb(70, 69, 69);
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-size: 12px;
  background-color: #f6f8fa;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.band_logo {
  background: url("../img/spr_intro.png") no-repeat 0 -98px;
  width: 78px;
  height: 29px;
}

.login_ul {
  display: flex;
  gap: 24px;
}

.login_list {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.login_list > a {
  font-size: 14px;
  color: var(--font-color);
}

.login_button {
  background-color: var(--main-color);
}

.login_button > a {
  color: white;
}

section {
  padding: 0 32px;
}

.band_login_con {
  margin: 0 auto;
  display: flex;
  width: 1000px;
  gap: 50px;
}

.mobile_form,
.mobile_form > img,
.band_login {
  width: 400px;
}

.band_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

.band_login > a {
  width: inherit;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
}

.login_click {
  background-color: var(--main-color);
  color: white;
}

.join_click {
  background-color: white;
  color: var(--font-color);
}

.band_explanation {
  height: 540px;
  background-image: url(../img/bg_intro.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 32px;
}

.band_login > p:nth-of-type(1) {
  font-size: 14px;
}

.band_login > p > a {
  text-decoration: underline;
  color: var(--main-color);
  font-weight: bold;
}

.band_explanation > p {
  font-size: 14px;
  color: white;
  line-height: 1.5;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.band_adver_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  gap: 50px;
}

.band_adver {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.band_adver > img {
  width: 300px;
  height: 180px;
}

h3 {
  font-size: 24px;
  font-weight: 540;
}

.band_adver > p {
  font-size: 14px;
}

.band_choice {
  width: 1000px;
  margin: 0 auto;
}

.band_choice_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.band_list_con {
  width: 1000px;
}

.choice_list_ul {
  display: flex;
  flex-wrap: wrap;
}

.band_list {
  width: 500px;
  height: 100px;
  margin-bottom: 50px;
}

.band_list > a {
  display: flex;
  gap: 10px;
}

.band_list img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.band_list_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100px;
  color: var(--font-color);
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

.band_mobile_banner {
  display: flex;
  width: 1000px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.band_download {
  display: flex;
  gap: 20px;
}

.mobile_down_link {
  display: flex;
  gap: 24px;
}

.mobile_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.band_icon {
  background: url("../img/spr_intro.png") no-repeat -162px 0;
  width: 70px;
  height: 70px;
}

.google_play {
  background: url("../img/spr_intro.png") no-repeat 0 0;
  width: 160px;
  height: 47px;
}

.app_store {
  background: url("../img/spr_intro.png") no-repeat 0 -49px;
  width: 160px;
  height: 47px;
}

.footer_con {
  height: 120px;
  background-color: #2a3038;
}

.footer_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 20px;
  flex-wrap: wrap;
}

.footer_li > a {
  color: var(--font-color);
}
