:root {
  --main-color: rgb(64, 201, 64);
  --font-color: rgb(70, 69, 69);
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-size: 12px;
  background-color: #f6f8fa;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.band_logo {
  background: url("../img/spr_intro.png") no-repeat 0 -98px;
  width: 78px;
  height: 29px;
}

.login_ul {
  display: flex;
  gap: 24px;
}

.login_list {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.login_list > a {
  font-size: 14px;
  color: var(--font-color);
}

.login_button {
  background-color: var(--main-color);
}

.login_button > a {
  color: white;
}

section {
  padding: 0 32px;
}

.band_login_con {
  margin: 0 auto;
  display: flex;
  width: 1000px;
  gap: 50px;
}

.mobile_form,
.mobile_form > img,
.band_login {
  width: 400px;
}

.band_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

.band_login > a {
  width: inherit;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
}

.login_click {
  background-color: var(--main-color);
  color: white;
}

.join_click {
  background-color: white;
  color: var(--font-color);
}

.band_explanation {
  height: 540px;
  background-image: url(../img/bg_intro.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 32px;
}

.band_login > p:nth-of-type(1) {
  font-size: 14px;
}

.band_login > p > a {
  text-decoration: underline;
  color: var(--main-color);
  font-weight: bold;
}

.band_explanation > p {
  font-size: 14px;
  color: white;
  line-height: 1.5;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.band_adver_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 1000px;
}

.band_adver {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.band_adver > img {
  width: 300px;
  height: 180px;
}

h3 {
  font-size: 24px;
  font-weight: 540;
}

.band_adver > p {
  font-size: 14px;
}

.band_choice {
  margin: 0 auto;
  width: 1000px;
}

.band_choice_title {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.choice_list_ul {
  display: flex;
  gap: 32px;
}

.band_list {
  width: 500px;
}

.band_list > a {
  display: flex;
  flex-wrap: wrap;

  /* flex-direction: column; */
}
